.mais-vendidos {
    margin-top: 50px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .mais-vendidos--lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .imagem-item {
    height: 250px;
  }
  
  .imagem-item img{
    width: auto;
    height: 100%;
  }
  
  .mais-vendidos--cta {
    margin-top: 30px;
    margin-left: 30vw;
    display: flex;
    align-items: center;
  }

  .detalhes-produto--preco {
    display: flex;
    flex-direction: column;
  }
  