.Main {
    width: 100%;
}

.categorias {
    padding-left: 25px;
}

.mais-vendidos {
    padding-left: 25px;
    padding-right: 25px;
}

.mais-vendidos--lista {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.mais-vendidos--item {
    max-width: 250px;
    margin-right: 5px;
}

.imagem-item img{
    width: 100%;
    height: 290px;
}

.info-produto {
}

.detalhes-produto{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px
}

.detalhes-preco{
    font-size: 21px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px
}

.detalhes-produto--avaliacao {
    margin-bottom: 5px
}

.sessao-parceiros {
    margin-top: 25px;
    padding-left: 25px;
}

.link-parceiro{
    margin-right: 25px;
}

.link-parceiro img{
    weight: 100%;
    height: 60px
}