.Main {
    width: 100%;
}

.categorias {
    padding-left: 25px;
}

.mais-vendidos {
    padding: 0px 25px;
}

.mais-vendidos--lista {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.mais-vendidos--item {
    max-width: 250px;
    margin-right: 5px;
}

.imagem-item img{
    width: 100%;
    height: 290px;
}

.info-produto {
}

.detalhes-produto{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px
}

.detalhes-preco{
    font-size: 21px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px
}

.detalhes-produto--avaliacao {
    margin-bottom: 5px
}

.sessao-parceiros {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.link-parceiro{
    width: 100%;
    margin: 0px 20px;
    display: flex;
    align-items: center;

}

.link-parceiro img{
    weight: 100%;
    height: 60px
}

.text-avaliacao{
    margin-left: 25px;
}

.sessao-avalicoes {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 0px 25px;
}

.card-user {
    display: flex;
    flex-direction: row;
}

.user-icon {
    flex: 0;
    margin-right: 20px;
}

.user-name { 
    display: flex;
    align-items: center;
}

.card-avaliacao {
    padding: 0px 25px;
}