.cabecalho {
  /* 
    Guia de Flexbox:
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: #fffff2;
  /* 
    https://cssgenerator.org/box-shadow-css-generator.html 
    https://materializecss.com/shadow.html
  */ 
}

.header-left {
  flex: 1;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: end;
}

a[href] {
  color: #aaaaac;
  text-decoration: none;
}

a[href]:hover,
a[href]:active {
  /* font-size: larger; */
  font-weight: bold;
  color: #707070;
}

a[href]:active {
  opacity: .6;
}

.link-category {
  color: #aaaaac;
}
.link-category:hover {
  font-weight: bold;
  color: #707070;
  cursor: pointer;
}

.link-category:active {
  opacity: .6;
}

.link-lupa:hover {
  font-weight: bold;
  color: #707070;
  cursor: pointer;
}

.cabecalho .logo {
  margin-top: 1rem;
  max-width: 300px;
}

.header-icon {
  max-width: 2rem;
  max-height: 2rem;
}

.input-pesquisar {
  height: 2rem;
  width: 10rem;
  background-color: #fffff2;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 1rem;
}

.header-icon img {
  filter: opacity(0.8) drop-shadow(0 0 0 #aaaaae) brightness(250%); 
  height: 100%;
  width: 100%;
}

.header-icon img:hover {
  filter: opacity(0.8) drop-shadow(0 0 0 #707070) brightness(200%); 
}

.menu-menuClose {
  display: none;
}

.list-hamburger {
  margin-left: 15rem;
  width: 8rem;
  background-color: #fffff2;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  position: absolute;
}

.list-items--hamburger {
  display: flex;
  flex-direction: column;
}