.title-category {
    padding-left: 5rem;
    
  }
  
  .categorias {
    width: 100%;
  }
  
  .menu-categorias {
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
  }
  
  .menu-categorias ul {
    background-color: #f9f9f9;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .menu-categorias ul li{
    width: 150px;
    height: 100px;
    margin-right: 50px;
  }
  
  .menu-categorias ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-menu {
    max-width: 50px;
    max-height: 50px;
  }
  
  .icon-menu img{
    filter: opacity(0.5) drop-shadow(0 0 0 #766760) brightness(100%); 
    width: 100%;
    height: 100%;
  }
  
  .categorias--produto-lista {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .button-ver-mais-categoria {
    margin-top: 30px;
    padding-left: 5rem;
    margin-left: 30vw;
    display: flex;
    align-items: center;
  }