@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box; }

.App {
  background-color: #EEE;
  font-family: 'Roboto', sans-serif;
}

.Container {
  background-color: #F5F5F5;
  max-width: 100vw;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-right: 10px;
  padding: 10px;
  /* padding-left: 20px; */
}

main {
  width: 80vw;
  margin-left: 10vw;
  background-color: #fffff2;
}

.cta-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-image: url('/src/assets/images/bg-cta.jpeg');
  background-color: #fffff2;
  background-repeat: no-repeat;
  background-size: contain;
}

.cta-image--text,
.cta-novas--pecas {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  /* padding: 1rem; */
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.cta-image--text p {
  margin-bottom: 50px;
  padding-right: 5rem;
}

.cta-image--pecas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-image--pecas div{
  max-width: 100px;
  max-height: 100px;
}

.cta-image--pecas div img{
  width: 100%;
  height: 100%;
}

a[role="button"],
button,
input[type="submit"] {
  background-color: #766760;
  padding: 1.5rem 2rem;
  color: white;
}

a[role="button"]:hover,
button:hover,
input[type="submit"]:hover {
  opacity: .6;
}

.cta-image>div {
  width: 100%;
  flex-wrap: nowrap;
}

.title-category {
  padding-left: 5rem;
  
}

.categorias {
  width: 100%;
}

.menu-categorias {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
}

.menu-categorias ul {
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menu-categorias ul li{
  width: 150px;
  height: 100px;
  margin-right: 50px;
}

.menu-categorias ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-menu {
  max-width: 50px;
  max-height: 50px;
}

.icon-menu img{
  filter: opacity(0.5) drop-shadow(0 0 0 #766760) brightness(100%); 
  width: 100%;
  height: 100%;
}

.categorias--produto-lista {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-ver-mais-categoria {
  margin-top: 30px;
  padding-left: 5rem;
  margin-left: 30vw;
  display: flex;
  align-items: center;
}

.mais-vendidos {
  margin-top: 50px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.mais-vendidos--lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagem-item {
  height: 250px;
}

.imagem-item img{
  width: auto;
  height: 100%;
}

.mais-vendidos--cta {
  margin-top: 30px;
  margin-left: 30vw;
  display: flex;
  align-items: center;
}

.sessao-parceiros {
  background-color: #393939;
  margin-top: 50px;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
}

.sessao-parceiros a img{
  max-width: 150px;
  filter: opacity(0.8) drop-shadow(0 0 0 white) brightness(20000%); 
}

.avaliacao {
  padding-left: 5rem;
  padding-right: 5rem;
}

.sessao-avaliacoes {
  display: flex;
  flex-direction: row;
}